<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/new_edit.css">

    <div class="container d-flex flex-column my-5">
        <h1 class="display-4">
            Edit
            Diary
        </h1>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="card-body">
                        <h2 class="card-title mb-5 text-center" style="font-weight: 300; font-style: oblique;">Update
                            Your
                            Experience
                            &#128524;</h2>
                        <form action="/diaries/<%= diary._id %>?_method=PUT" method="POST" novalidate
                            class="validated-form my-3">
                            <div class="mb-3">
                                <label for="title" class="form-label h6 fw-bold">What'll Your Travel Diary Be
                                    Called?</label>
                                <input type="text" class="form-control" id="title" name="diary[title]"
                                    aria-describedby="diaryTitle" placeholder="Enter Title" value="<%= diary.title %>"
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Diary without a title!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="location" class="form-label h6 fw-bold">Where Did You Go?</label>
                                <input type="text" class="form-control" id="location" name="diary[location]"
                                    aria-describedby="diaryLocation" placeholder="Enter Location"
                                    value="<%= diary.location %>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Share your travel destination!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label h6 fw-bold">Care To Share Some Photos?</label>
                                <input type="text" class="form-control" id="image" name="diary[image]"
                                    aria-describedby="diaryPhotos" placeholder="Enter Image URL"
                                    value="<%= diary.image %>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Don't feel shy to share your travel clicks!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="cost" class="form-label h6 fw-bold">How Much Did It Cost? <small
                                        class="fst-italic text-muted">(Approx)</small></label></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="price-label">&#8377;</span>
                                    <input type="text" class="form-control" id="cost" name="diary[cost]"
                                        aria-describedby="diaryCost" placeholder="0.00" value="<%= diary.cost %>"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Help others plan their budget!
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="description" class="form-label h6 fw-bold">Share Your Experience In Details:
                                </label>
                                <textarea type="text" class="form-control" cols="8" rows="4" id="description"
                                    name="diary[description]" aria-describedby="diaryDescription"
                                    placeholder="Write something..." required><%= diary.description %></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Must Share about your travel!
                                </div>
                            </div>
                            <div class="mb-5">
                                <a class="col-md-5 btn btn-warning btn-lg float-left font-weight-bold" href="/diaries">
                                    &#129092; All Diaries</a>
                                <button type="submit"
                                    class=" col-md-5 btn btn-success btn-lg float-right font-weight-bold">Update
                                    Diary &check;</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <img style="width: 100%;"
                        src="https://images.unsplash.com/photo-1642712395150-27a5c2e6ee6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=358&q=80"
                        class="img-fluid" alt="new-diary">
                </div>
            </div>
        </div>
    </div>