<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/index.css">
    <div class="main container-fluid my-5">
        <div class="row">
            <span class="heading">
                <a class="display-3" href="/diaries/recent">Recently Added...</a>
            </span>
            <% let count=1 %>
                <% for(let recentDiary of recentDiaries) { %>
                    <div class="col-3">
                        <div class="card mb-3">
                            <img src="<%= recentDiary.image %>" class="img img-fluid" alt="<%=recentDiary.title %>"
                                style="height: 400px; width: 600px;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= recentDiary.title %>
                                </h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%= recentDiary.location%>
                                    </small>
                                </p>
                                <p class="card-text">
                                    <%= recentDiary.description.slice(0,98)%>...
                                </p>
                                <div>
                                    <p class="text-muted float-start">
                                        <%= recentDiary.created.toString().slice(4,11) %>
                                    </p>
                                    <a href="/diaries/<%= recentDiary._id %>"
                                        class="btn btn-outline-primary float-end">See
                                        Diary</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% count++ %>
                        <% if(count> 3) break %>
                            <% } %>
                                <div class="more col d-flex justify-content-center align-items-center">
                                    <a class="btn btn-lg btn-outline-danger" href="/diaries/recent">See More</a>
                                </div>
                                <hr>
        </div>
        <div class="row">
            <span class="heading">
                <a class="display-3" href="/diaries/mostliked">Most Liked...</a>
            </span>
            <% count=1 %>
                <% for(let mostLikedDiary of mostLikedDiaries) { %>
                    <div class="col-md-3">
                        <div class="card mb-3">
                            <img src="<%= mostLikedDiary.image %>" class="img img-fluid"
                                alt="<%=mostLikedDiary.title %>" style="height: 400px; width: 600px;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= mostLikedDiary.title %>
                                </h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%= mostLikedDiary.location%>
                                    </small>
                                </p>
                                <p class="card-text">
                                    <%= mostLikedDiary.description.slice(0,98)%>...
                                </p>
                                <div>
                                    <p class="text-muted float-start">
                                        <%= mostLikedDiary.likes.length%> likes
                                    </p>
                                    <a href="/diaries/<%= mostLikedDiary._id %>"
                                        class="btn btn-outline-primary float-end">See
                                        Diary</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% count++ %>
                        <% if(count> 3) break %>
                            <% } %>
                                <div class="more col d-flex justify-content-center align-items-center">
                                    <a class="btn btn-lg btn-outline-danger" href="/diaries/mostliked">See More</a>
                                </div>
        </div>
    </div>