<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/stars.css">
    <link rel="stylesheet" href="/css/show.css">
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div id="diary" class="card mt-4">
                    <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <% diary.images.forEach((img, i)=> { %>
                                <div id="diary-img" class="carousel-item <%= i === 0 ? 'active' : ''%>">
                                    <img src="<%= img.url%>" class="d-block img-fluid" alt="<%= diary.title %> ">
                                </div>
                                <% }) %>

                        </div>
                        <% if(diary.images.length> 1) {%>
                            <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <% } %>
                    </div>
                    <div class="card-body">
                        <!-- <a class="likeicon float-start" onclink="updateLikes()"><i
                                class="fa-regular fa-heart fa-2x"></i></a> -->
                        <h5 class="display-5 card-title text-center">
                            <%= diary.title %>
                        </h5>
                        <p class=" h5 card-text text-muted pb-2 text-center">
                            <%=diary.shortLoc %>
                        </p>
                        <hr>
                        <p class="h4 card-text py-3">Costs Around &#8377;<%= diary.cost %>
                                <!-- <a class="likeicon float-end" onclink="updateLikes()"><i
                                        class="fa-regular fa-heart fa-2x"></i></a> -->
                        </p>
                        <p id="desc" class="card-text pb-3">
                            <%= diary.description %>
                        </p>
                        <p id="user" class="card-text pb-3">
                            &#128221; Posted by: <%= diary.author.firstname %>
                                <%= diary.author.lastname %>
                        </p>
                        <% if(currentUser && diary.author.equals(currentUser._id)) { %>
                            <hr>
                            <div>
                                <a class="col-md-4 float-left btn btn-warning p-2 mx-1"
                                    href="/diaries/<%= diary._id %>/edit">&#128221; Edit
                                    Diary</a>
                                <p>
                                    <button class="col-md-4 float-right btn btn-danger p-2 mx-1" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal<%= diary._id %>">Delete
                                        Diary &#10060;</button>
                                </p>
                            </div>
                            <% } %>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created: <%= createdDate %></small>
                        <small class="text-muted float-right">Last Changed: <%= upDatedDate %></small>
                    </div>
                </div>
            </div>
        </div>
        <p id="backHome" class="row justify-content-center mt-5 mb-5">
            <a class="col-md-9 btn btn-info" href="/diaries">&#128072;
                Back to
                Home</a>
        </p>
        <% if(diary.reviews.length===0 && !currentUser) { %>
            <h3 class="row text-muted d-flex justify-content-center">Login to know more!</h3>
            <% } %>
                <div class="row">
                    <div id="reviews" class="col-md-5 offset-md-1">
                        <% if(diary.reviews.length) { %>
                            <h5 class="mb-2 float">See What People Say...</h5>
                            <% for(let review of diary.reviews) { %>
                                <div id="review" class="card mb-3">
                                    <div class="card-body">
                                        <span class="starability-result mb-5" data-rating="<%=review.rating%>">
                                            Rated: <%= review.rating %> stars
                                        </span>
                                        <h6 class="card-subtitle mb-2 text-muted float-right">By <%=
                                                review.author.firstname%>
                                                <%= review.author.lastname %>
                                        </h6>
                                        <p class="card-text mt-4">
                                            <%= review.comment %>
                                        </p>
                                        <% if( currentUser && review.author.equals(currentUser._id)) {%>
                                            <form
                                                action="/diaries/<%= diary._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                method="POST">
                                                <button class="btn btn-sm btn-danger float-right">Delete</button>
                                            </form>
                                            <% } %>
                                    </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <% if(currentUser) { %>
                                            <h3 class="mb-2">Be the first to leave a comment...</h3>
                                            <% } %>
                                                <% } %>
                                                    <% if(currentUser) { %>
                                                        <% if(diary.reviews.length>= 0 && diary.reviews.length < 5) { %>
                                                                <% if(diary.reviews.length) {%>
                                                                    <h5>Leave a Comment</h5>
                                                                    <% } %>
                                                                        <form action="/diaries/<%= diary._id %>/reviews"
                                                                            method="POST" class="mb-3 validated-form"
                                                                            novalidate>
                                                                            <!-- <div class="mb-3">
                                                                        <label class="form-label mt-3"
                                                                            for="rating">Rating</label>
                                                                        <input class="form-range" type="range" min="1"
                                                                            max="5" name="review[rating]" id="rating">
                                                                    </div> -->
                                                                            <fieldset class="starability-heartbeat">
                                                                                <input type="radio" id="no-rate"
                                                                                    class="input-no-rate"
                                                                                    name="review[rating]" value="1"
                                                                                    checked aria-label="No rating." />
                                                                                <input type="radio" id="first-rate1"
                                                                                    name="review[rating]" value="1" />
                                                                                <label for="first-rate1"
                                                                                    title="Terrible">1
                                                                                    star</label>
                                                                                <input type="radio" id="first-rate2"
                                                                                    name="review[rating]" value="2" />
                                                                                <label for="first-rate2"
                                                                                    title="Not good">2
                                                                                    stars</label>
                                                                                <input type="radio" id="first-rate3"
                                                                                    name="review[rating]" value="3" />
                                                                                <label for="first-rate3"
                                                                                    title="Average">3
                                                                                    stars</label>
                                                                                <input type="radio" id="first-rate4"
                                                                                    name="review[rating]" value="4" />
                                                                                <label for="first-rate4"
                                                                                    title="Very good">4
                                                                                    stars</label>
                                                                                <input type="radio" id="first-rate5"
                                                                                    name="review[rating]" value="5" />
                                                                                <label for="first-rate5"
                                                                                    title="Amazing">5
                                                                                    stars</label>
                                                                            </fieldset>
                                                                            <div class="mb-3">
                                                                                <label class="form-label"
                                                                                    for="body">Comment:
                                                                                </label>
                                                                                <textarea class="form-control"
                                                                                    name="review[comment]" id="body"
                                                                                    cols="30" rows="3"
                                                                                    required></textarea>
                                                                                <div class="valid-feedback">
                                                                                    Looks good!
                                                                                </div>
                                                                                <div class="invalid-feedback">
                                                                                    Write Something!
                                                                                </div>
                                                                            </div>
                                                                            <button
                                                                                class="btn float-right btn-success">Submit</button>
                                                                        </form>
                                                                        <% } %>
                                                                            <% } %>
                    </div>
                    <div id="col2" class="col-md-5 mt-md-5 float-right">

                        <% if(currentUser) { %>
                            <div class="row ml-3 pl-5">
                                <div id='map' class="showMap" style='width: 90%; height: 400px;'></div>
                            </div>
                            <div class="row ml-4 pl-5 my-4">
                                <p class="text-muted font-italic">Location:</p>
                                <h5>
                                    <%= diary.location %>
                                </h5>
                                <a class="btn btn-outline-primary mt-3"
                                    href="https://maps.google.com/?q=<%= diary.location %>" target="_blank">Get
                                    Directions</a>
                            </div>
                            <div class="row pl-0">
                                <% if(diary.reviews.length>= 5 ) { %>
                                    <h4>Leave a Comment</h4>
                                    <form action="/diaries/<%= diary._id %>/reviews" method="POST"
                                        class="mb-3 validated-form" novalidate>
                                        <div class="mb-3">
                                            <label class="form-label mt-3" for="rating">Rating</label>
                                            <input class="form-range" type="range" min="1" max="5" name="review[rating]"
                                                id="rating">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="body">Comment</label>
                                            <textarea class="form-control" name="review[comment]" id="body" cols="30"
                                                rows="3" required></textarea>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Write Something!
                                            </div>
                                        </div>
                                        <button class="btn btn-lg float-right btn-success">Submit</button>
                                    </form>
                                    <% } %>
                            </div>
                            <% } else { %>
                                <% if(diary.reviews.length>0 ) { %>
                                    <h4 class="d-flex align-items-center justify-content-center text-muted pt-5">LOGIN
                                        to know
                                        exact
                                        location!
                                    </h4>
                                    <% } %>
                                        <% } %>
                    </div>
                </div>
    </div>

    <!-- Delete Diary Modal -->
    <div class="modal fade" id="deleteModal<%= diary._id %>" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Delete Diary</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete the diary?</h5>
                    <p class="text-muted">All the information and reviews will be permanently deleted! </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/diaries/<%= diary._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete
                            Diary
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const mapToken="<%-process.env.MAPBOX_TOKEN%>";
        const diary= <%- JSON.stringify(diary)%>
    </script>
    <script src="/javascript/showPageMap.js"></script>